AE-3. XSLT y XPATH_FINAL/instituto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="empresa" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="profesores">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="profesor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="director">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="despacho" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="jefe_estudios">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="despacho" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ciclos">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ciclo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string" />
                    <xs:element name="grado">
                      <xs:complexType>
                        <xs:attribute name="tipo" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="decretoTitulo">
                      <xs:complexType>
                        <xs:attribute name="año" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="web" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>